<app-header></app-header>

<!-- Start Banner Area -->
<section class="banner-area banner-area-four bg-4 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9">
                        <div class="banner-content">
                            <span class="top-title wow fadeInDown" data-wow-delay="1s">Six Industries Inc</span>
                            <h1 class="wow fadeInDown" data-wow-delay="1s">Above Top Secret Encryption, secure your information</h1>
                            <p class="wow fadeInLeft" data-wow-delay="1s">Six Industries Inc was formed in early 2020 to improve the lives, safety and convenience of our customers.</p>

                            <!--          <div class="banner-btn wow fadeInUp" data-wow-delay="1s">
                                             <app-button link="contact.php">
                                    <span>Contact Us</span>
                                </app-button>
                            </div>-->
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <!--                        <div class="banner-video wow zoomIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: zoomIn;">-->
                        <!--                            <a href="https://www.youtube.com/watch?v=sdpxddDzXfE" class="video-btn popup-youtube">-->
                        <!--                                <i class="bx bx-play"></i>-->
                        <!--                            </a>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!-- Start Feature Area -->
<section class="feature-area feature-area-four pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <app-hero-feature
                  [title]="'Nomad: S.I.C'"
                  [description]="'It is the first application to promote micro-networking, the building of small groups of tight knit friends and family, with whom sharing more information is desired.'"
                  [img_src]="'assets/img/SIC-logo-2400x2400.png'"
                  [link]="'https://six-industries.com/NOMAD'"
                ></app-hero-feature>
              </div>
      
            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                <app-hero-feature
                  [title]="'Tertia Optio'"
                  [description]="'The Tertia Optio, Hyper-awareness Enabled Battlespace, Advanced Digital Management and Networking System (HEBADMAN System) is a Mosaic Warfighter Network.'"
                  [img_src]="'assets/img/Tertia-Optio-logo-2400x2400.png'"
                  [link]="'https://six-industries.com/TertiaOptio'"
                ></app-hero-feature>
            </div>
        </div>
    </div>
</section>
<!-- End Feature Area -->

<!-- Start Protect Area -->
<section class="protect-area protect-area-four pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="protect-img">
                    <img src="assets/img/protect-img.png" alt="Image">
                </div>
            </div>
  
            <div class="col-lg-6">
                <div class="protect-content">
                    <div class="protect-title" style="text-align:center">
                        <span>About Us</span>
                        <p>
                            We specialize in encryption and other technology solutions but, unlike our competitors, we employ a revolutionary, patented dual encryption technique that has never been penetrated. Our non-linear, elliptical curve encryption technology meets US military standards for the transmission of Top-Secret level information. This allows our customers to enjoy a flawless user experience tailored to their needs with the confidence that their private information is protected to the highest standard available anywhere in the world. This is what separates Six Industries from every other technology vendor here today.
                        </p>
                    </div>
  
                    <div class="row">
  
                        <div class="col-lg-6 col-sm-6">
                          <app-protect
                            title="Secure Communications"
                            icon_src="flaticon-database"
                            link="https://six-industries.com/about"
                          ></app-protect>
                        </div>
                        
                        <div class="col-lg-6 col-sm-6">
                          <app-protect
                            title="Artificial Intelligence"
                          icon_src="flaticon-authentication"
                            link="https://six-industries.com/about"
                          ></app-protect>
                        </div>
  
                        <div class="col-lg-6 col-sm-6">
                          <app-protect
                            title="Patented Dual Encryption"
                            icon_src="flaticon-security"
                            link="https://six-industries.com/about"
                          ></app-protect>
                        </div>
  
                        <div class="col-lg-6 col-sm-6">
                          <app-protect
                            title="Austere Coverage"
                            icon_src="flaticon-security-1"
                            link="https://six-industries.com/about"
                          ></app-protect>
                        </div>
                  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
<!-- End Protect Area -->

<!-- Start Our Approach Area -->
<section class="our-approach-area our-approach-area-four pb-70">
    <div class="container">
        <div class="section-title">
            <h2>
                Six Industries Inc Mission Statement
            </h2>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="approach-img">
                    <img src="assets/Six-Industries-circles-wh-transparent-bg-2200x2200.png" alt="Image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="approach-content">
                    <h3> To develop, provide, and support software applications, hardware innovations, and customer support modalities which create new market segments and to capitalize on emerging/existing market segments in secure integrative communications.</h3>

                    <div class="row">
                        <div class="col-lg-6">
                            <app-approach   
                                link="https://six-industries.com/internet-of-things" 
                                title="Internet of Things (IoT)" 
                                content="The engineers of Six Industries Inc's Internet of Things Lab (IOT)...">
                            </app-approach>
                        </div>
                        
                        <div class="col-lg-6">
                            <app-approach
                                link="https://six-industries.com/encryption-lab"
                                title="Encryption"
                                content="At Six Industries Inc we are always pushing the envelope, we do not...">
                            </app-approach>
                        </div>
                        
                        <div class="col-lg-6 col-sm-6">
                            <app-approach
                                link="https://six-industries.com/augmented-reality-lab"
                                title="Extended Reality (A.R.)"
                                content="A company with a strong focus on emerging technology, Six Industry Inc...">
                            </app-approach>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <app-approach
                                link="https://six-industries.com/"
                                title="Cognitive Computing"
                                content="Six Industries Inc solves high-impact problems by developing computationally ...">
                            </app-approach>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Approach Area -->


<!-- Start Our Approach Area -->
<!-- <section class="our-approach-area our-approach-area-four pb-70">
    <div class="container">
        <div class="section-title">
            <span>Our Video</span>
            <h2>
                Six Industries Inc
            </h2>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-12">
                <iframe width="100%" height="500" src="https://www.youtube.com/embed/WXU6CaQ8RJ8?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section> -->
<!-- End Our Approach Area -->

<!-- Start Our Challenges Area -->
<section class="challenges-area pt-100 pb-70 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="section-title white-title">
            <h2>Protect Your Organization</h2>
        </div>
  
        <div class="row">
  
            <div class="col-lg-3 col-sm-6">
              <app-challenge-feature
                  [title]="'Cyber Security'"
                  [description]="'The way we work has changed. People now work from anywhere, not just from an office...'"
                  [img_src]="'assets/cy.png'"
                  [link]="'https://six-industries.com/cyber-security'"
              ></app-challenge-feature>
            </div>
            
            <div class="col-lg-3 col-sm-6">
              <app-challenge-feature
                  [title]="'Government & Defense'"
                  [description]="'Innovating technology solutions to help defend the nation. Winning on the complex ...'"
                  [img_src]="'assets/gd.png'"
                  [link]="'https://six-industries.com/government-defense'"
              ></app-challenge-feature>
            </div>
  
            <div class="col-lg-3 col-sm-6">
              <app-challenge-feature
                  [title]="'Emergency Management'"
                  [description]="'Engaging citizens. Supporting the mission. Whether ensuring the safety, security,...'"
                  [img_src]="'assets/em.png'"
                  [link]="'https://six-industries.com/emergencymanagement'"
              ></app-challenge-feature>
            </div>
            
            <div class="col-lg-3 col-sm-6">
              <app-challenge-feature
                  [title]="'Logistics'"
                  [description]="'Six Industries Inc is transforming the supply chain industry by replacing opaque ...'"
                  [img_src]="'assets/loc.png'"
                  [link]="'https://six-industries.com/logisticssoftwaresolutions'"
              ></app-challenge-feature>
            </div>
  
            <div class="col-lg-4 col-sm-6"></div>
            <div class="col-lg-4 col-sm-6">
              <app-challenge-feature
                  [title]="'Healthcare'"
                  [description]="'Six Industries Inc helps hospitals and health systems respond to current challenges ...'"
                  [img_src]="'assets/hl.png'"
                  [link]="'https://six-industries.com/Healthcare'"
              ></app-challenge-feature>
            </div>
            
        </div>
    </div>
</section>
<!-- End Our Challenges Area -->

<!-- Start Solution Area -->
<section class="solution-area pb-70" style="padding-top: 70px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="solution-content">
                    <div class="solution-title">
                        <span>All-in Solution</span>
                        <h2>Our experts are providing and planning 24/7 technical support services with product and security consultation</h2>
                    </div>
  
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <app-solution
                                title="Product Consultation:"
                                description="We wrote it, we know it, and we've used it. Flexible to any business size or model, we'll help you most effectively get the right fit for your needs, keep you secure, and allow you to grow in the future. We believe solutions define product, not the other way around."
                                link="/solution-details"
                                num_label="01"
                            >
                            </app-solution>
                        </div>
                        
                        <div class="col-lg-12 col-md-6">
                            <app-solution
                                title="Security Consultation:"
                                description="Security is everything, and everyone needs to review it. We've walked into secure sites that we've cracked wide open in less than 10 minutes. Let us help you not be a statistic, but a role model with an in depth, wall to wall, top to bottom review."
                                link="/solution-details"
                                num_label="02"
                            >
                            </app-solution>
                        </div>
  
                        <div class="col-lg-12 col-md-6 offset-md-3 offset-lg-0">
                            <app-solution
                                title="24/7 Technical Support:"
                                description="We've got your back. If something goes wrong, we're here to help. With options for scalable support up to 24/7, we're capable of spinning up services to make sure you're covered - round the clock, all week long."
                                link="/solution-details"
                                num_label="03"
                            >
                            </app-solution>
                        </div>
                    </div>
                </div>
            </div>
  
            <div class="col-lg-6 pr-0">
                <div class="solution-img">
                    <img src="assets/img/solution-img.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
  </section>
<!-- End Solution Area -->

<!-- Start Blog Area -->
<section class="blog-area blog-area-four pb-70" style="padding-top: 70px">
    <div class="container">
        <div class="section-title">
            <span>Our</span>
            <h2>Latest Blogs</h2>
        </div>
        <div class="row">
            <div *ngFor="let blog of latestBlogs" class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-img">
                        <a [routerLink]="['blog_detail', blog.slug]">
                            <img [src]="blog.image" alt="Image" style="height: 270px;">
                        </a>
                    </div>
                    <div class="blog-content">
                        <span>{{ blog.created_at }}</span>
                        <h3><a [routerLink]="['/blog_detail', blog.slug]">{{ blog.name }}</a></h3>
                        <p>
                            {{ blog.desc | slice:0:50 }}...
                        </p>
                        <a [routerLink]="['/blog_detail', blog.slug]" class="read-more">
                            Read More
                            <i class="flaticon-right-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->

<!-- Start Get In Touch Area -->
<section class="get-in-touch-area ptb-100 jarallax" id="GetaQuote" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="section-title white-title">
            <h2>Get a Quote</h2>
        </div>

        <form class="get-in-touch-form" >
            <div class="row">

                <div class="col-lg-6 col-sm-6">
                    <app-form 
                        label="Name" 
                        type="text" 
                        id="First-Name"> 
                    </app-form>
                </div>

                <div class="col-lg-6 col-sm-6">
                    <app-form 
                        label="Email" 
                        type="email" 
                        id="Email"> 
                    </app-form>
                </div>

                <div class="col-lg-6 col-sm-6">
                    <app-form 
                        label="Phone" 
                        type="text" 
                        id="Number"> 
                    </app-form>
                </div>

                <div class="col-lg-6 col-sm-6">
                    <app-form 
                        label="Comment" 
                        type="text" 
                        id="Company"> 
                    </app-form>
                </div>
                
            </div>
            
            <app-button type="submit">
                <span>Submit</span>
            </app-button>
        </form>
    </div>
</section>
<!-- End Get In Touch Area -->

<!-- Start Subscribe Area -->
<section class="subscribe-area ptb-100">
    <div class="container">
        <div class="subscribe-bg">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6">
                    <div class="subscribe-content">
                        <img src="assets/img/subscribe-img.png" alt="Image">
                        <h3>Sign Up for our newsletter</h3>
                        <span>Subscribe to the newsletter for all the latest updates</span>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-6">
                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="form-control" placeholder="Enter email address" name="EMAIL" required autocomplete="off">
                        
                        <app-button type="submit">Subscribe</app-button>
                        
                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Subscribe Area -->

<app-footer />
