
<!-- header here -->
<app-header></app-header>

<!-- Start Page Title Area -->
<app-page-title pageTitle="Government & Defense"></app-page-title>
<!-- End Page Title Area -->


<section class="feature-area feature-area-two pt-100">
   <div class="container">
       <div class="row">
           <div class="col-lg-12" style="padding-bottom:50px">
               <div class="solutions-content two">
                   <p style="text-align: center">
                       Innovating technology solutions to help defend the nation. Winning on the complex future battlefield requires technology solutions that improve performance, readiness, and resilience. We understand the mission, and bring the best emerging technologies to help modernize, achieve interoperability, and win the fight.
                       <br>
                       <br>
                       Six Industries Inc combines decades of experience in all branches of the military with transformative solutions—from modernizing legacy systems to integrating information across the force. Our open architecture approach puts clients in control of their systems while providing flexibility to anticipate the next threat. We are accelerating innovation to help defend the nation.
                   </p>
               </div>
           </div>
           <div class="col-lg-12" style="padding-bottom:50px">
               <div class="solutions-content two">
                   <h2 style="text-align: center">Our Capabilities</h2>
               </div>
           </div>
       </div>
   </div>
</section>

<section class="solution-details-area pb-100">
   <div class="container">
       <div class="row align-items-center">

           <div class="col-lg-6">
               <div class="solutions-content two">
                   <h3 style="font-size: 20px;">C5ISR</h3>
                   <p>
                       <a href="home" target="_blank" style="color:#e21f36">Six Industries Inc</a> is bringing together systems and fusing information to advance the mission. In the emerging world of information warfare and multidomain operations, we are leading the way with resilient networks and innovative approaches to take intelligence, surveillance, and reconnaissance (ISR) processing to the edge.
                   </p>
                   <h3 style="font-size: 20px;">Artificial Intelligence (AI)</h3>
                   <p>
                       We deliver custom, secure solutions that allow defense organizations to responsibly unlock AI's potential.
                   </p>
                   <h3 style="font-size: 20px;">Cryptography</h3>
                   <p>
                       With our patent protected dual layer cryptography, we bring you the very best in secure communications, secure information transmission and cross platform integration.
                   </p>
                   <h3 style="font-size: 20px;">Drone (UAV) Software</h3>
                   <p>
                       Six Industries Inc has developed and is testing its own proprietary drone software that will work on any commercially purchased off the shelf drone from a quadcopter all the way to a fixed wing drone providing your drones with a secure network and <!-- angular artificial intelligence --> capabilities.
                   </p>
               </div>
           </div>

           <div class="col-lg-6">
               <div class="solutions-content two">
                   <img src="assets/img/GovernmentDefense.png" alt="Image">
               </div>
           </div>

       </div>
   </div>
</section>
<!-- footer -->
    <app-footer></app-footer>
