<!-- <?php include("include/db_conn.php");
$pro = "active";
?> -->

   <!-- header commponent starts here -->
  <app-header></app-header>
  <!-- header commponent ends here -->


  <!-- Title -->
  <app-page-title pageTitle="NOMAD: Stay In Contact"></app-page-title>
  <!-- Title Ends -->
  
    

<section class="feature-area feature-area-two pt-100" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12"  style="padding-bottom:50px">
                <div class="solutions-content two">
                    <p style="text-align: center">
                        Secure your communications, know where your loved ones and friends are at anytime.
                        <br>
                        WhatsApp, Telegram, and Signal are easily compromised, putting yourself and those you care about at risk.
                    </p>
                </div>
            </div>
            <div class="col-lg-12"  style="padding-bottom:50px">
                <div class="solutions-content two">
                    <h2 style="text-align: center">Secure your devices.</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="solution-details-area pb-100">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <div class="solutions-content two">
                    <p>
                        It is the first application to promote micro-networking, the building of small groups of tight knit friends and family, with whom sharing more information is desired.  While at the same time completely securing that information in a manner that provides 100% privacy.  The customer is in total control of what information gets shared, whom it gets shared with, and when it gets shared.
                    </p>
                    <h3>
                       " Find your way." - With Nomad: S.I.C.
                    </h3>
                    <p>
                        Coming Soon to Google Play and the App Store.
                        <br>
                        (Patent Protected)
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="solutions-content two">
                    <img src="assets/img/SIC-logo-2400x2400.png" alt="Image">
                </div>
            </div>

        </div>
    </div>
</section>

<!-- footer -->
<app-footer></app-footer>

<!-- footer -->