<!-- header starts here -->
<app-header></app-header>
<!-- header ends here -->

<!-- Start Page Title Area -->
<app-page-title pageTitle="Tertia Optio"></app-page-title>
<!-- End Page Title Area -->

<section class="solution-details-area pb-100">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <div class="solutions-content two">
                    <p style="padding-top: 40px">
                        The Tertia Optio, Hyper-awareness Enabled Battlespace, Advanced Digital Management and Networking System (HEBADMAN System) is a Mosaic Warfighter Network military infrastructure system including hardware support, software support and layered encryption in order to provide the warfighter, on all levels, with common operational cross-domain secure battlefield data enabling new levels of dynamic combat agility. It is a software networking suite designed for cell phone, <a href="internet-of-things" target="_blank" style="color:#e21f36">internet of things (IOT)</a> and desktop integration of military Command, Control, Computers, Cyber, Communication, Intelligences, Surveillance, Reconnaissance Networking (C5ISRNET) to provide a Commercial off-the-shelf (COTS) solution enabling: tactical and strategic information advantage, battlefield dominance, speed of command and maximizing mission effectiveness in the Mosaic Battlefield Environment.
                        <br>
                        <br>
                        It does this by leveraging the latest in cellular phone hardware technologies advancements to integrate them with the latest cutting-edge redundant encryption algorithms, advancements in geo-spatial technologies and cloud computing capabilities couching them all in a server-side mission adaptable user-managed user interface customizable to mission requirements in dynamic combat environments. The goal of this technology is to enable the warfighter and Commanders access to immediate actionable intelligence and capabilities to fight and win in increasing electronics dominated battlefields while simultaneously eliminating digital information vulnerabilities inherent to use of private or unsecured mobile communications within a widely interoperable common information operating environment.
                        <br>
                        (Patent Protected)
                    </p>
                    <h3>
                        " The Third Option. "
                    </h3>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="solutions-content two">
                    <img src="assets/img/Tertia-Optio-logo-2400x2400.png" alt="Image">
                </div>
            </div>

        </div>
    </div>
</section>

<!-- footer -->
<app-footer></app-footer>
