<!-- <?php include("include/db_conn.php");
$technology = "active";
?> -->

<app-header></app-header>

<!-- Start Page Title Area -->
<app-page-title pageTitle="Artificial Intelligence Lab"></app-page-title>
<!-- End Page Title Area -->

<section class="solution-details-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="solutions-content two">
                    <h3>Artificial Intelligence Lab</h3>
                    <p>
                        Six Industries Inc solves high-impact problems by developing computationally efficient algorithms to enable pervasive artificial intelligence. With our technology, every device - no matter how big or small - will have intelligence. In a more intelligent world, decision makers are free from manual tasks and can make better decisions much more quickly.
                        <br>
                        <br>
                        Much of the recent innovation within machine learning has revolved around scaling up models. These large models allow for more complex ideas and tasks to be captured at the cost of massively increased hardware requirements.  <a href="home" target="_blank" style="color:#e21f36">Six Industries Inc's</a> is developing a suite of innovative algorithms that compress and optimize state of the art models to work with hardware that is more than an order of magnitude smaller than that used by our competitors.
                        <br>
                        <br>
                        Powerful analytics running at the edge means lower bandwidth requirements and a streamlined process for analysts. Intelligence gathering devices can make better decisions about what information to transmit over the network, and analysts can now do more of what they do best and less of the most time-consuming mundane tasks.
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="solutions-content two">
                    <img src="assets/img/ArtificialIntelligence.png" alt="Image">
                </div>
            </div>

        </div>
    </div>
</section>

<app-footer></app-footer>