<!-- <?php include("include/db_conn.php");
$technology = "active";
?> -->

<app-header></app-header>

<!-- Start Page Title Area -->
<app-page-title pageTitle="Augmented Reality Lab"></app-page-title>
<!-- End Page Title Area -->

<section class="solution-details-area ptb-100">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <div class="solutions-content two">
                    <h3>Augmented Reality Lab</h3>
                    <p>
                        A company with a strong focus on emerging technology,  <a href="home" target="_blank" style="color:#e21f36">Six Industries Inc's</a> embraces the potential of Augmented Reality (AR) for use with the Defense Department. We think that the technology is the next step in the evolution of Architecture, Engineering, and Construction, as well as other industries.
                        <br>
                        Change is challenging, Six Industries Inc stands ready to contribute. As a result, our R&D efforts have led to the creation of a separate AR lab.
                        <br>
                        With extensive experience in enterprise solutions, Six Industries Inc's best engineers, designers, and analysts are now bringing AR to the biggest industries.
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="solutions-content two">
                    <img src="assets/img/AugmentedReality.png" alt="Image">
                </div>
            </div>

        </div>
    </div>
</section>

<app-footer></app-footer>