<div class="login-container">
    <div class="login-box">
      <h2>{{title}}</h2>
      <p>Welcome to xSuites</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <br>
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input id="email" formControlName="email" type="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" formControlName="password" type="password" required>
        </div>
        <br>
        <br>
        <div class="form-group">
          <input id="rememberMe" formControlName="rememberMe" type="checkbox">
          <label for="rememberMe">Remember me</label>
        </div>
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div id="red-rectangle"></div>
</div>



  