<!-- Start Preloader Area -->
<div class="preloader">
  <div class="loader">
  
  
    <div class="indicator">
      <img src="assets/img/favicon.png" class="rotate">
    </div>
  </div>
</div>
  <!-- End Preloader Area -->
  
  <!-- Start Header Area -->
  <header class="header-area">
      <!-- Start Top Header -->
      <div class="top-header top-header-four">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-lg-6 col-sm-6">
                      <ul class="header-left-content">
                          <li>
                              <i class="bx bx-phone-call"></i>
                              <a href="tel:(800) 671-7449">(800) 671-7449</a>
                          </li>
                      </ul>
                  </div>
  
                  <div class="col-lg-6 col-sm-6">
                      <ul class="header-right-content">
                          <li>
                              <a href="mailto:info@six-industries.com" target="_blank">
                                  <i class="bx bxs-envelope"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://www.instagram.com/SixIndustriesInc/" target="_blank">
                                  <i class="bx bxl-instagram"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://www.linkedin.com/company/six-industries" target="_blank">
                                  <i class="bx bxl-linkedin"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://twitter.com/6IndustriesInc" target="_blank">
                                  <i class="bx bxl-twitter"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <!-- Start Top Header -->
  
      <!-- Start Nav Area -->
      <app-nav-menu></app-nav-menu>
      <!-- End Nav Area -->
  </header>
  <!-- End Header Area -->
  
