<app-header/>

<!-- Start Page Title Area -->
<app-page-title pageTitle="Emergency Management"></app-page-title>
<!-- End Page Title Area -->

<section class="solution-details-area ptb-100">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <div class="solutions-content two">
                    <p>
                        Engaging citizens. Supporting the mission. Whether ensuring the safety, security, and well-being of citizens or boosting national competitiveness, we work with leaders in civil government to support their public service missions.
                        <br>
                        We excel at improving information sharing among law enforcement organizations, emergency response, crisis mitigation, biometrics and geolocation of personnel in austere situations.
                        <br>
                        Our work spans homeland security, law enforcement, emergency services, and transportation.
                        <br>
                        We work with leaders to help them make better decisions and foster safer user experiences both inside and outside of their organizations.
                        <br>
                        We provide a professional staff that includes security information technology and engineering specialists, experts in intelligence analysis and training, business transformation professionals, and seasoned law enforcement practitioners. Our expertise draws from the senior ranks of the law enforcement and counterterrorism communities, with both domestic and international experience.
                        <br>
                        We understand the technology and the mission.
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="solutions-content two">
                    <img src="assets/img/emergencymanagment.png" alt="Image">
                </div>
            </div>

        </div>
    </div>
</section>

<app-footer/>