<!-- <?php include("include/db_conn.php");
$technology = "active";
?> -->
<!-- Header component implementation-->
<app-header></app-header>

<!-- Start Page Title Area -->
<app-page-title pageTitle="Internet of Things (I.o.T.) Lab"></app-page-title>
<!-- End Page Title Area -->

<section class="solution-details-area ptb-100">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6">
        <div class="solutions-content two">
          <h3>Internet of Things (I.o.T.) Lab</h3>
          <p>
            The engineers of Six Industries Inc's Internet of Things Lab (IOT) have experience working with all technical platforms, languages, and frameworks to help our customers and clients meet secure and scalable Internet of Things needs. From creating our solution’s architecture to building cloud infrastructure, <a href="home" target="_blank" style="color:#e21f36">Six Industries Inc's</a> IoT Lab can help you every step of the way.
            <br>
            The experience of many members of the Lab amounts to more than 20 years, and with Six Industries Inc's expertise in building custom software products, the unit has all it takes to deliver impactful IoT solutions to our customers and clients across all industries.
            <br>
            The Six Industries Inc's IoT Laboratory is a unique facet of our business model. It serves as an objective testing ground to independently evaluate emerging technologies.
          </p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="solutions-content two">
          <img src="assets/img/solution-details/solution-details-1.jpg" alt="Image">
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Footer component implementation-->
<app-footer></app-footer>
