<!-- header starts here -->
<app-header></app-header>
<!-- header ends here -->

<!-- Start Page Title Area -->
<app-page-title pageTitle="Logistics Software Solutions"></app-page-title>
<!-- End Page Title Area -->


<section class="feature-area feature-area-two ptb-100" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12"  style="padding-bottom:50px">
                <div class="solutions-content two">
                    <p style="text-align: center">
                        Six Industries Inc is transforming the supply chain industry by replacing opaque and manual processes with a tech-enabled, fully connected logistics geolocation and communication ecosystem. Through encryption, real-time data and machine learning, our platform delivers better business intelligence, security, and driving accountability. <a href="home" target="_blank" style="color:#e21f36">Six Industries Inc's</a> platform architecture allows you to define how you want your Transportation Management Software(TMS) to work.
                    </p>
                </div>
            </div>
            <div class="col-lg-12"  style="padding-bottom:50px">
                <div class="solutions-content two">
                    <h2 style="text-align: center">Seamless Communications through Order Management, Dispatch and Billing</h2>
                    <p style="text-align: center">
                        The way we work has changed. People now work from anywhere, not just from an office. Applications are based in the cloud, not just on-premise. The company network perimeter is now spread across the internet. Using a traditional, network-centric VPN for remote access is not only outdated and difficult to maintain, but exposes businesses to security breaches.
                    </p>
                </div>
            </div>


            <div class="col-md-12">
                <div class="tabs_item" style="text-align: center;padding: 10px 0px">
                    <h3 style="font-size: 30px;">
                        Improve communications between systems
                    </h3>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Integrated ELD data into workflows</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Integrate systems via API's</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Synchronize accounting data to apps like QBO</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Augment your TMS with AI and Machine Learning</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3"></div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Digitally connect your drivers’ cabins to the back-office</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Automatic document upload and times from drivers</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="tabs_item" style="text-align: center;padding: 10px 0px">
                    <h3  style="font-size: 30px;">
                        Improve communications to your customers
                    </h3>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Online track and trace</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Rates and tariffs portal</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Document management portal</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Customer chat inside your TMS</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3"></div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Email notifications for order events</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Customer portal</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="tabs_item" style="text-align: center;padding: 10px 0px">
                    <h3  style="font-size: 30px;">
                        Improve communications to your customers
                    </h3>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Put dispatch data in the hands of customer service</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Put customer service data in the hands of finance</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Let your team collaborate more effectively</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Let your team collaborate more effectively</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1"></div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Easily manage partner carriers</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Direct connectivity with your partner carriers</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">Direct connectivity with your brokers</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <div class="col-md-12">
                <div class="tabs_item" style="text-align: center;padding: 10px 0px">
                    <h3  style="font-size: 30px;">
                        Order data from the TMS is mapped against location data from ELD and telematics data to enable true all-mile track and trace. The last known location mapped to every order, email notifications for status changes and ETAs available anytime, accurate to the minute.
                    </h3>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">All order, tracking, and documents is readily available and centralized</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">All order, tracking, and documents is readily available and centralized</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">All opportunities for collaboration on orders and lanes are available and visible</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-feature overly-one">
                                <div class="overly-two">
                                    <div class="title" style="text-align: center">
                                        <img src="assets/img/checked.png">
                                        <h3 style="padding-left: 0px">All chat records are in-context of an order and available for records</h3>
                                    </div>
                                    <div class="feature-shape">
                                        <img src="assets/img/feature-shape.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- footer -->
<app-footer></app-footer>

