<!-- <?php include("include/db_conn.php");
$technology = "active";
?> -->

<app-header></app-header>

<!-- Start Page Title Area -->
<app-page-title pageTitle="Encryption Lab"></app-page-title>
<!-- End Page Title Area -->

<section class="solution-details-area ptb-100">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <div class="solutions-content two">
                    <h3>Encryption Lab</h3>
                    <p>
                        At  <a href="home" target="_blank" style="color:#e21f36">Six Industries Inc's</a> we are always pushing the envelope, we do not live in a box or any sort of constricting environment, we prefer to live in the sandbox. In the sandbox anything is possible. Someone says, "Why don't we try it this way?" We say go.
                        <br>
                        This is the basis for the Encryption Lab, where we invented the patent protected AES256 encryption algorithm with Blockchain nesting method, that we use in all of our applications. When we entered into the encryption field we wanted to break the standards and create something that seemed impossible. With our staff, we make the impossible possible.
                        <br>
                        With our dual encryption process all of your information is secure.
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="solutions-content two">
                    <img src="assets/img/Encryption.png" alt="Image">
                </div>
            </div>

        </div>
    </div>
</section>

<app-footer></app-footer>