

  <!-- header commponent will be here -->
  <app-header></app-header>

<!-- Start Page Title Area -->
<app-page-title pageTitle="Healthcare"></app-page-title>
<!-- End Page Title Area -->


<section class="solution-details-area ptb-100">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <div class="solutions-content two">
                    <p>
                        <a href="home" target="_blank" style="color:#e21f36">Six Industries Inc's</a> helps hospitals and health systems respond to current challenges and even thrive in today’s unpredictable and ever-changing hostile cyber environment. With a focus on counter-ransomware operations, HIPA Approved Electronic transmission of information, and medical emergency management. Six Industries leverages technology-enabled software and services to solve complex <a href="cyber-security" target="_blank" style="color:#e21f36">cyber security</a> system issues.
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="solutions-content two">
                    <img src="assets/img/healthcare.png" alt="Image">
                </div>
            </div>

        </div>
    </div>
</section>

<!-- footer -->
<app-footer></app-footer>
