<section>
<!-- Start Header Area -->
<header class="xheader-area">
      <!-- Start Top Header -->
      <div class="xtop-header">
        <div class="ximage-container">
          <img src="assets/img/xsuite_logo.png" class="logo">
          <img src="assets/img/xsuite_spin.png" class="spin">
        </div>
        <div class="container">
                <ul class="xheader-right-content">
                          <li>
                              <a href="mailto:info@six-industries.com" target="_blank">
                                  <i class="bx bxs-envelope"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://www.instagram.com/SixIndustriesInc/" target="_blank">
                                  <i class="bx bxl-instagram"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://www.linkedin.com/company/six-industries" target="_blank">
                                  <i class="bx bxl-linkedin"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://twitter.com/6IndustriesInc" target="_blank">
                                  <i class="bx bxl-twitter"></i>
                              </a>
                    </li>
                </ul>
        </div>
      </div>
      <!-- Start Top Header -->
</header>
</section>
  <!-- End Header Area -->